# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/
.env/
.ipynb_checkpoints/

# Test caches
.hypothesis/
.pytest_cache/


# IDE
.vscode/
.idea/

# Documents
*.pdf
